################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeDay.VC.VC.opendb
/UpgradeLog.htm
/Moniker.exe
