################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeDay.VC.VC.opendb
/Debug
/DeDay.sdf
/DeDay.exe.manifest
/DeDay.VC.db